<style>
   	html, body, div, iframe { margin:0; padding:0; height:100%; }
	iframe { display:block; width:100%; border:none; }
	
	p {
		font-family: Helvetica;
		background-color: #fff;
		color: #ff2700;
		text-decoration: none;
	}

	p#bar {
		top: 0px; 
		right: 0px; 
		margin-top: 0px;
		margin-bottom: 0px;
		background-image: url(/images/gradient.png);
		background-repeat: repeat-x;
		font-size: 0.9em;
		font-weight: bold !important;
		}
	img {
		border: 0px;
	}
</style>
<p id="bar">
	<a href="/" alt="droptop"><img border="0" id="car" src="/images/small/car.png" alt="droptop" ></a>
	viewing <a href="<%= @url %>" target="_blank"><%= @url %></a> || 
	<img src="/images/small/camera.png" alt="screenshot" ><a href="#" id="capture">screenshot</a> ||
	<img src="/images/small/note.png" alt="screenshot" ><a href="#" id="note">add note</a> ||
	<img src="/images/small/telephone.png" alt="screenshot" ><%= @drop.voicemail %> ||
	<img src="/images/small/search_magnifier.png" alt="view drop" ><a href="http://drop.io/<%= @drop.name %>">files (<%= @drop.asset_count %>)</a> || 
	<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=1d36cb89-b8d9-4797-bcbc-dd9544a581dc&amp;type=website&amp;buttonText=share&amp;popup=true&amp;post_services=facebook%2Ctwitter%2Cemail"></script> || 
	<a href="<%= @url %>"><img src="/images/small/delete_item.png" alt="Close" ></a>
</p>
<iframe id="underlying" width="100%" height="100%" src="<%= @url %>" border="0" noborder="noborder" frameborder="0" padding="0" spacing="0"></iframe>
<script type="text/javascript" charset="utf-8" src="http://drop.io/<%= @drop.name %>/remote_chat_bar.js?chat_password=<%= @drop.chat_password %>"></script>
<script type="text/javascript">
	$("#capture").click(function () {
		$.post("/screenshot/<%= @url %>");
    });
    $("#note").click(function () {
	    window.open("/note/<%= @url %>",'t','toolbar=0,resizable=0,status=1,width=400,height=450');
    });
</script>